* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}
body {
  font-family: sans-serif;

  display: flex;
  justify-content: space-between;

  padding: 30px;
}

main {
	flex: 1;

	position: relative;
}
aside {
	flex-shrink: 0;

	margin-left: 20px;
	width: calc(33.33% - 13.5px);
	width: calc((100% / 3) - 13.5px);
}
.sticky {
    position: sticky;
    top: 30px;
}

aside .liste_tags {
  max-height: 15vh;
  overflow-x: hidden;
  padding-bottom: 10px;
}



aside span, .note h1, .note h2, .note h3, .note h4 {
	cursor: pointer;
}
aside h2 {
  display: inline-block;
}
aside span {
	text-decoration: underline;
	color: blue;

	margin-right: 10px;
}

/* NOTE */
.note img {
	width: 100%;
}


.note .meta {
  position: absolute;
  z-index: 10;
  top: 0px;
  right: 0px;

  border-bottom: 1px solid blue;
  border-left: 1px solid blue; 
  color: black;

  padding: 0px 2px;
  background: white;

  font-size: 10px;
  font-family: sans-serif;
}

.note .meta_titre::before {
  content: "title: ";
}
.note .meta_titre::after {
  content: " |";
}
.note .meta_auteur::before {
  content: "author: ";
}

/* FILTER */

.choisi {
	color: white;
	background: blue;
	border: none;
}
.selected {
}

main.filtered .note:not(.selected) {
	display: none;
}

/* GRID */

main .note {
    width: calc(50% - 10px);
    padding: 10px;
	margin-bottom: 20px;

    background: white;
	border: 1px solid blue;
}


/* TYPO */

ul li {
	list-style: inside;
}

strong {
	font-weight: 600;
}

h4 {
	display: inline-block;

	float: right;

	padding: 1px 3px 1px 3px;
	border-bottom: 1px dotted blue;

	color: blue;
	font-size: 1.0rem;
	font-size: 0.7rem;
	font-weight: 300;
}


main .sorry {
  display: none;

  position: relative;
  z-index: 10;

  width: max-content;
  width: -moz-max-content;
  margin: auto;
  padding: 10px;

  border: 1px solid black;
  color: black;
  background: white;
}
main .sorry.visible {
  display: block;
}

/* au delà des écran mobiles */
.fas.menu_button {
  display: none;
}


/* AUDIO / VIDEO */

audio, video {
  width: 100%;
}















@media only screen and (min-width : 0px) and (max-width : 480px) {
body {
	display: block;
}
aside {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;
  margin-left: 0px;
  padding: 15px;

  background: #f0f3f3;

  overflow-y: scroll;
  overflow-x: hidden;
}
aside.visible {
  display: block;
}

main .note {
    width: 100%;
    padding: 10px;
	margin-bottom: 20px;

    background: white;
	border: 1px solid blue;
}

}

@media only screen and (min-width : 481px) and (max-width : 767px) {
body {
  display: block;
}
aside {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;
  margin-left: 0px;
  padding: 15px;

  background: #f0f3f3;

  overflow-y: scroll;
  overflow-x: hidden;
}
aside.visible {
  display: block;
}

main .note {
    width: 100%;
    padding: 10px;
  margin-bottom: 20px;

    background: white;
  border: 1px solid blue;
}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {

}

@media only screen and (min-width : 1301px) and (max-width : 1824px){

}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 2561px) {


}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-device-width : 750px) and (orientation : landscape) {

}

@media only screen and (min-width : 481px) {

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
